@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Source+Serif+Pro&family=Tenor+Sans&display=swap');

body {max-width: 100%;
width: 1440px;
margin: 0 auto;}

h6 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.autor {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;    
}

.description {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase
}

.main {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.heder_menu {
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
    border-bottom:  1px solid #E6E6E6;
}

.header_logo {
    align-self: center;
    
}

.header_nav{
    align-self: center;
}

.header_list, li {
    display: flex;
    margin-right: 40px;
}

.header_link {
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}


.big {
    display: flex;
    margin-bottom: 60px;
}

.big_title{
    margin-left: 51px;
}

.text {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:  #666666;
}


.section_1 {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    gap: 20px;
    margin-bottom: 200px;
    }


.section_2 {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(2,1fr);
    gap: 20px;
    margin-bottom: 90px;
}

.view {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.btn {
    width: 205px; height: 54px;
    background-color: white;
    border: 1px solid #000000;
    margin-bottom: 120px;
}

.btn a {
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.section_3 {
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    gap: 20px;
    margin-bottom: 90px;
    
}

.footer { width: 100%;
    height: 617px;
    background-color: #000000;
    display: flex;

}

.footer_logo {
    width: 1200px;
    height: 62px;
    display: flex;
    margin-top: 93px;
    margin-left: 120px;
    border-bottom: 1px solid #4D4D4D;
}

.copy {
    margin: 0;
    padding-top: 7px;
    margin-left: 15px;
    color: #666666;
}

.footer_nav {
    margin-left: 120px;
    display: grid;
    grid-template: repeat(3,120px)/ repeat(4, 18%);
    
}

.list a {
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    }

.list a:hover { 
    text-decoration: underline;}

.foot {
    padding-bottom: 15px;}

.categories {
    grid-column: 1/5;
    align-self: end;
    }

