@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Source+Serif+Pro&family=Tenor+Sans&display=swap');



h6 {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625em;
    line-height: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
}

.autor {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 0.625em;
    line-height: 0.75em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;    
}

.description {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #000000;
}

h1 {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase
}


.main_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}


.header_menu {
    min-width: 1200px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
    border-bottom:  1px solid #E6E6E6;
}

.header_logo, .header_nav {
    align-self: center;
}


.header_list, li {
    display: flex;
    margin-right: 40px;
    flex-wrap: wrap;
}

.header_list, li:last-of-type {
    margin-right: 5px;
}

.header_link {
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}


.big {
    display: flex;
    margin-bottom: 60px;
}

.big_title{
    margin-left: 51px;
    }

    

.text {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:  #666666;
}


.section_1 {
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    gap: 20px;
    margin-bottom: 200px;
    
    }


.section_2 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(2,1fr);
    gap: 20px;
    margin-bottom: 90px;
}

.view {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.btn {
    width: 205px; height: 54px;
    background-color: white;
    border: 1px solid #000000;
    margin-bottom: 120px;
}

.btn a {
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}

.section_3 {
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    gap: 20px;
    margin-bottom: 90px;
    
}

.footer { 
    min-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    height: 38.5em;
    background-color: #000000;
    display: flex;

}

.container_footer {
    min-width: 1200px;
    margin: 0 auto;
}


.footer_logo {
    height: 62px;
    display: flex;
    margin-top: 93px;
}

.copy {
    margin: 0;
    padding-top: 7px;
    margin-left: 15px;
    color: #666666;
}

.footer_nav {
    display: grid;
    grid-template: repeat(3, 7.5em)/ repeat(4, 18%);
    
}

.list a {
    text-decoration: none;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    }

.list a:hover { 
    text-decoration: underline;}

.foot {
    padding-bottom: 15px;}

.categories {
    grid-column: 1/5;
    align-self: end;
    }

@media screen and (max-width: 767px) {
    .wrapper {min-width: none;
    }

    .big {
        display: grid;
        grid-template-rows: 2fr 1fr;
    }

    .big_title {margin: 0;}
    
    .section_1 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:repeat(3,1fr);
        gap: 10px;
        margin-bottom: 5%;
        margin-left: 5%;
    }

    .section_2 {
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(4,1fr);
        gap: 10px;
        margin-left: 5%;
    }

    .section_3 {
        display: grid;
        grid-template:repeat(4,1fr)/repeat(1,1fr);
        
    }

    .img_bottom img {  width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .img_bottom{ margin-left: 8%;}

    .header_menu {
        min-width: 750px;
    }

    .footer {
        min-width: 750px;
        height: fit-content;
    }

    .footer_nav {display: none;}

    .btn {
        justify-self: center;
        margin-bottom: 5%;
    }

    .photo img {
        width: 100%;
        height: 50%;
        row-gap: 20%;
        object-fit: cover;
    }

    .description {
        font-size: 0.85em;
        line-height: 1em;
    }

    .autor {
        font-size: 0.45em;
        line-height: 0.55em;  
    }

    h6 {display: none;}
    
    }